streamlit>=1.45

ultralytics==8.3.190

opencv-python-headless==4.10.0.84

onnxruntime==1.22.1

tensorflow==2.20.0

numpy==1.26.4

pillow==11.3.0
pandas==2.3.1
h5py==3.14.0
protobuf==5.29.5
ml-dtypes>=0.5